<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Other 404 page</title>
  </head>
  <body>
    <div class="wrapper">
      <h1>Other 404</h1>
    </div>
  </body>
</html>
